.navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-toggle .icon-bar {
  color: #9AC0CD;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #9AC0CD;
}

.navbar-custom {
	background-color: none;
}

.navbar-custom ul.hover {
	background-color: none;
}

.navbar-custom li a {
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 3px;
  transition: color .3s ease-in-out;
}

.navbar-custom li a:hover {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #3a3a3a;
  padding: 5px;
}

.top-nav-collapse li a:hover {
  color: #9AC0CD;
}

button #bars {
  background-color: #fff;
}

.header-picture {
	background: no-repeat center center;
  background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-picture h1 {
	color: #fff;
  font-family: 'Dancing Script', cursive;
	font-size: 7em;
	font-weight: bold;
}

.header-picture .title {
  margin-top: 14%;
}

@media only screen and (max-width: 994px) {
  .header-picture .title {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 768px) {
	.header-picture {
		height: 500px;
	}
}

@media only screen and (max-width: 768px) {
  .header-picture .subtitle {
    visibility: hidden;
  }
}

hr.small {
  max-width: 300px;
  margin: 10px auto;
  border-width: 3px;
  border-color: #9AC0CD;
}

.header-picture .subtitle {
	font-size: 2em;
	color: #fff;
	font-weight: 300;
}

.post-title a {
  color: #404040;
  text-align: center;
}
.post-title a:hover,
.post-title a:focus {
  text-decoration: none;
  color: #9AC0CD;
}
.post-title a .post-title {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 40px;
  /*color: #668B8B;*/
  color: #3a3a3a;
}
.post-title a .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-title .post-meta {
  color: #808080;
  font-size: 18px;
  margin-top: 0;
  text-align: center;
}
.post-title .post-meta a {
  text-decoration: none;
  color: #404040;
}
.post-title .post-meta a:hover,
.post-title .post-meta a:focus {
  color: #9AC0CD;
  text-decoration: underline;
}

.pager {
  margin: 20px 0 0;
}
.pager li a,
.pager li span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
  color: #000;
}
.pager li a:hover,
.pager li a:focus {
  color: white;
  background-color: #9AC0CD;
  border: 1px solid #9AC0CD;
}
.pager .disabled a,
.pager .disabled a:hover,
.pager .disabled a:focus,
.pager .disabled span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}

footer {
  padding: 40px 0 40px;
}

footer a {
	color: #ffa500;
}

footer a.hover {
	color: #9AC0CD;
}

footer .copyright {
	text-align: center;
	margin-top: 30px;
}

/*-----------------------------------------------*/

.about-title {
  text-align: center;
}

.about-title h1 {
  margin-top: 40px;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  font-weight: bold;
}

.about-title p {
  margin-top: 40px;
  font-size: 1.3em;
  font-weight: 200;
}

#contact h2 {
  font-family: 'Dancing Script', cursive;
  color: #3a3a3a;
  font-size: 3em;
  font-weight: bold;
}

